# Handle font files as binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
*.eot binary

# Handle images as binary  
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.svg binary
*.ico binary
